/*########################
	mixins
##########################*/
/*########################
	html
##########################*/
h1 {
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 25px;
  color: #9acc13;
}
p {
  font-size: 18px;
  line-height: 2em;
}
/*########################
	custom
##########################*/
.navbar-custom {
  padding-top: 0;
}
.navbar-custom .navbar-header .navbar-brand {
  padding: 0px 15px;
}
.navbar-custom .navbar-header .navbar-brand img {
  height: 36px;
  margin-top: 10px;
}
.navbar-custom .navbar-toggle {
  border-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-custom .navbar-collapse ul.navbar-nav {
  margin-top: 10px;
  font-size: 18px;
}
.navbar-custom .navbar-collapse ul.navbar-nav a {
  color: #fff;
}
.navbar-custom .navbar-collapse ul.navbar-nav a:hover,
.navbar-custom .navbar-collapse ul.navbar-nav a:active {
  background: transparent;
  color: #9acc13;
}
.section {
  margin-bottom: 105px;
  text-align: center;
}
.section:last-child {
  margin-bottom: 0;
}
.section.breaker {
  background: url(../img/pic3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}
.banner {
  background: url(../img/pic5.jpg) no-repeat top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 770px;
}
.banner .company-message {
  margin-top: 25%;
}
.team .team-img {
  background: #ddd;
  min-height: 200px;
  position: relative;
}
.team .team-img .member-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9acc13;
  opacity: .5;
  color: #fff;
  font-family: verdana;
}
.team .team-img .member-details .name {
  font-size: 25px;
}
.team .team-img .member-details .title {
  font-size: 18px;
}
.services {
  background: url(../img/pic8.jpg) no-repeat top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 770px;
}
.portfolio {
  background: #ddd;
  margin-bottom: 0;
  padding-bottom: 50px;
}
.contact {
  background: #293b3f;
  padding: 50px 0;
  margin-top: 0;
  color: #fff;
}
.contact input,
.contact textarea {
  background: transparent;
}
/*########################
	media
##########################*/
/*########################
	bootstrap
##########################*/
