/*########################
	mixins
##########################*/
@green:#9acc13;
@brown:#4b4746;
@gray:#2f2f2f;

/*########################
	html
##########################*/
body {

}
h1{
	text-transform: uppercase;
	font-size: 34px;
	margin-bottom: 25px;
}
p{
	font-size: 18px;
	line-height: 2em;
}
/*########################
	custom
##########################*/
.navbar-custom{
	padding-top:20px;

	.navbar-collapse{
		ul{
			&.navbar-nav{
				margin-top: 20px;
				font-size: 18px;
				a{
					color:#fff;
					&:hover, &:active{
						background: transparent;
						color:#2a6496;
					}
				}
			}
		}
	}

}

.section{
	margin-bottom: 105px;
	text-align: center;
	&:last-child{
		margin-bottom: 0;
	}
}

.banner{
    background: url(../img/pic5.jpg) no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 770px;	

    .company-message{
    	margin-top: 25%;
    }	
}

.contact{
	background: #293b3f;
    padding: 50px 0;
    color:#fff;

    input, textarea{
    	background: transparent;
    }
}


/*########################
	media
##########################*/


/*########################
	bootstrap
##########################*/
